html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px;
}

.frame {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: auto;

}

.container {
  padding: 80px;
}

.logo {
  display: block;
  margin: auto;
  width: 25%;
}

header {
  text-align: center;
  color: rgb(0, 196, 0);
}

nav {
  box-sizing: content-box;
  background-color: rgb(0, 196, 0);
  text-align: center;
  padding: 10px;
}

.content {
  color: white;
}

.option {
  padding-top: 30px;
}

.option h2 {
  display: inline;
}

.overview {
  color: gainsboro
}

.battery1,
.battery2,
.battery3 {
  height: 30px;
  border-radius: 5px;
}

.battery1 {
  width: 300px;
  background-color: rgb(255, 195, 82);
}

.battery2 {
  width: 400px;
  background-color: rgb(0, 175, 0);
}

.battery3 {
  width: 150px;
  background-color: rgb(175, 64, 64);
}